:root {
    --color-main: #3C989E;
    --color-second: #5DB5A4;
    --color-third: #F4CDA5;
    --color-fourth: #F57A82;
    --color-fifth: #ED5276;

    --color-main-06: #3C989E60;
    --color-second-06: #5DB5A460;
    --color-third-06: #F4CDA560;
    --color-fourth-06: #F57A8260;
    --color-fifth-06: #ED527660;
}

body {
    overflow-x: hidden;
    font-family: 'Athiti', sans-serif;
}

section {
    transition: all 0.3s ease-in-out;
}

.neon {
    text-shadow: 0px 0px 1px #3c989e,
    0px 0px 3px #4F9099,
    0px 0px 5px #638895,
    0px 0px 7px #778090,
    0px 0px 9px #8A788C,
    0px 0px 11px #9E7187,
    0px 0px 13px #B26983,
    0px 0px 15px #C5617E,
    0px 0px 17px #D9597A,
    0px 0px 19px #ED5276;
    color: #3c989e;
    font-size: 6rem;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Signika', sans-serif;
}





/*----------------------------------------*/

/*-----------------LX---------------------*/

/*----------------------------------------*/

.site-wrapper {
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

/*Main*/

.main {
    width: 100%;
    height: 100vh;
    background-image: url(../img/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main .title-wrapper {
    width: 200px;
    position: absolute;
    left: calc(50% - 100px);
    top: 35%;
    text-align: center;
}

.main .title {
    font-size: 30px;
    text-shadow: 1px 1px 0px white;
}

/*Second*/

.second {
    display: block;
    height: 100vh;
    overflow: hidden;
    margin-top: 2rem;
}

.second .row {
    width: 80%;
    height: 75vh;
    position: relative;
}

.second .title {
    position: absolute;
    top: 2.5%;
    left: 0.5%;
    z-index: 2;
}

.after-title {
    width: 17.5rem;
    height: 4.25rem;
    top: 8.5%;
    left: 0%;
    position: absolute;
    background-color: var(--color-fourth);
    z-index: 1;
}

.second .information {
    position: absolute;
    width: 50%;
    padding: 2rem 1rem 2rem 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    left: 37.5%;
}

#zw-map {
    height: 75vh;
    left: 10%;
    top: 10%;
    position: absolute;
    width: 22vw;
    background-image: url(../img/map.png);
    background-size: cover;
}

.after-map {
    width: 22rem;
    height: 10rem;
    top: 90%;
    left: 15%;
    position: absolute;
    background-color: var(--color-fourth);
}


.back-img {
    height: 60vh;
    transform: translateX(calc(-50% + 50vw));

}

.img-wrapper {
    margin: 5rem 0;
    width: 100%;
    height: 60vh;
}


/*Third*/

.third {
    height: 100vh;
}

.third .images {
    height: 60vh;
    border: solid 2px #3C989E;
}

.third .date-wrapper {
    border: solid 2px #3C989E;
}

.third .date {

    height: 20vh;
}

.third .text-content {
    border: solid 2px #3C989E;
    height: 40vh
}
