footer {
    font-weight: 700;
    font-size: 1.15rem;
    padding: 50px 0 20px 0;

    .row {
        margin-bottom: 0;

        .col {
            margin: 0;
            padding: 0;
        }
    }
}
