footer {
    font-weight: 700;
    font-size: 1.15rem;
    padding: 50px 0 2px 0;
    position: relative;

    .row {
        margin-bottom: 0;

        .col {
            margin: 0;
            padding: 0;
        }

        /*     .label {
            position: relative;
            z-index: 2;
            color: #fefefe;

            &:before {
                content: '';
                position: absolute;
                width: 180%;
                height: 275px;
                background-color: var(--color-fifth);
                z-index: -1;
                left: -100%;
            }
        }*/
    }

    .authors {
        text-align: center;
        width: 100%;
        position: absolute;
        transition: all .4s ease-in-out;
        bottom: 0;
        left: 0;

        .header {
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                transition: all .4s ease-in-out;
            }

            > * {
                cursor: pointer;
            }
        }

        .authors-content {
            transition: all .4s ease-in-out;
            height: 0px;
            overflow-y: hidden;
        }

        &.active {
            bottom: 0px;

            i {
                transform: rotate(180deg);
            }

            .authors-content {
                height: 100px;
            }
        }
    }
}
