#galeria {
    position: relative;

    .album {
        padding: 0.25rem 0.25rem;
        transition: all 1s ease-in-out;

        > .plate {
            position: relative;
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: inherit;
                top: 0;
                background-color: var(--color-fifth);
                clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
                transition: all 0.6s ease-in-out;
                opacity: 0.5;
            }

            &:after {
                position: absolute;
                content: attr(text);
                clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
                width: 100%;
                transition: all 0.6s ease-in-out;
                font-size: 55px;
                display: inline;
                text-align: center;
                top: calc(50% - 43px);
                font-weight: 600;
            }

            &:hover {
                &:before {
                    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                }

                &:after {
                    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                }
            }

            .side-bar {
                width: 0px;
            }
        }
    }

    .two-in-one {
        padding: .25rem .5rem;
    }

    .zoom-in {
        width: 100vw;
        height: 100vh;
    }

    .display-container {
        position: absolute;
        z-index: 10;

        .display {
            height: inherit;
            position: relative;
            width: inherit;

            .bg {
                width: 100%;
                position: relative;
                height: inherit;
                background-size: cover;
                background-color: white;

                .side-bar {
                    clip-path: polygon(100% 100%, 100% 100%, 100% 0%, 100% 0%);
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 7.5%;
                    background-color: white;
                    height: inherit;
                    transition: clip-path .4s ease-in-out;
                    z-index: 3;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;

                    [photo] {
                        height: 100px;
                        width: 100%;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }

                .show {
                    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%)
                }
            }
        }
    }

    .drezno {
        background-image: url(../img/drezno/drezno1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 80% 0;
    }

    .horch {
        background-image: url(../img/horch/horch1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 30%;
    }

    .volk {
        background-image: url(../img/volk/volk1.jpg);
        background-repeat: no-repeat;
        background-size: 180%;
        background-position: 70% 100%;
    }

    .berlin {
        background-image: url(../img/berlin/berlin1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 30%;
    }

    .zajecia {
        background-image: url(../img/zajecia/zajecia1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
    }

    .zwickau {
        background-image: url(../img/zwickau/zwickau1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
    }

}

@media only screen and (max-width: 600px) {
    .album {
        padding: 0;
    }
}
