.grid {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    width: calc(100vw - 17px);
    z-index: -20;

    .row {

        .col {
            height: 100vh;
            border-left: solid 1px var(--color-third);

            &:last-child {
                border-right: solid 1px var(--color-third);
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .grid {
        width: 100%;
    }
}
