#uczestnicy {

    .przebieg {
        position: relative;

        .background-text {
            position: absolute;
            top: 0%;
            z-index: -5;
            right: 0%;

            h3 {
                font-size: 10vw !important;
                text-transform: uppercase;
                font-family: 'Signika', sans-serif;
                white-space: normal;
                color: #00000060;
                line-height: 0.75;
                text-align: center;
                margin: 0;
            }
        }

        .week {
            position: relative;
            left: 0;
            top: 0px;
            z-index: 10;

            h4 {
                display: none;
                clip-path: polygon(0% 100%, 0% 100%, 0% 0%, 0% 0%);
                transition: all 0.5s ease-in-out;

                &.animate {
                    display: inline;
                }

                &.show {
                    display: inline;
                    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
                }
            }
        }

        .options {
            position: absolute;
            left: 660px;
            top: 50px;
            z-index: 10;

            div {
                width: 25px;
                height: 25px;
                background-color: var(--color-third);
                border-radius: 50%;
                transition: all .3s ease-in-out;
                margin: 2px 0;
                cursor: pointer;

                &.active {
                    background-color: var(--color-fourth);
                }
            }
        }

        .pictures {
            position: relative;
            height: 400px;

            div {
                display: none;
                clip-path: polygon(0% 100%, 0% 100%, 0% 0%, 0% 0%);
                transition: all 0.5s ease-in-out;
                width: inherit;
                height: 100%;
                position: absolute;
                top: 10px;
                left: 0;

                &.animate {
                    display: block;
                }

                &.show {
                    display: block;
                    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
                }

                &:first-child {
                    background-image: url('../img/zajecia/zajecia2.jpg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                &:nth-child(2) {
                    background-image: url('../img/zajecia/zajecia5.jpg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                &:nth-child(3) {
                    background-image: url('../img/zajecia/zajecia1.jpg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                &:nth-child(4) {
                    background-image: url('../img/zajecia/zajecia3.jpg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }

        .text {
            position: relative;

            p {
                display: none;
                clip-path: polygon(0% 100%, 0% 100%, 0% 0%, 0% 0%);
                transition: all 0.5s ease-in-out;
                font-size: 18px;
                font-weight: 600;
                position: relative;
                top: 0px;
                left: 0;
                mix-blend-mode: multiply;
                z-index: 10;

                &.animate {
                    display: block;
                }

                &.show {
                    display: block;
                    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
                }
            }
        }
    }

    .data {

        .sec {
            font-size: 17.5px;
            font-weight: 600;

            i {
                font-size: 80px;
                margin: 0 calc(50% - 40px);
            }

            h3 {
                margin-top: 12.5px;
            }
        }
    }
}
