.main {
    width: 100%;
    height: 100vh;
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 3;

    .title-wrapper {
        width: 200px;
        position: absolute;
        left: calc(50% - 100px);
        top: 35%;
        text-align: center;
    }

    .title {
        font-size: 30px;
        text-shadow: 1px 1px 0px white;
    }
}

/*Second*/

.second {
    margin: 150px 0 120px 0;
    width: 100%;
    position: relative;

    .background {
        top: 200px;

        .background-text {

            .col {
                padding: 0;
                margin: 0;
                margin-left: -14px !important;
            }
        }

    }

    .container {
        .row {
            position: relative;

            .title {
                z-index: 2;
                position: relative;
            }

            .content {
                font-weight: 700;
                font-size: 1.45rem;
                padding: 0;
                margin: 0 0 0 -2px;
            }

            .zw-map {
                position: relative;
                height: 590px;
                background-image: url(../img/map.png);
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 3;
            }
        }
    }

    .circles {
        .circle {
            &:nth-child(1) {
                right: 10px;
            }

            &:nth-child(2) {
                left: 30%;
                top: 30%;
                z-index: 3;
            }

            &:nth-child(3) {
                left: 0;
                top: -25%;
                z-index: 3;
            }

            &:nth-child(4) {
                left: 47.5%;
                top: 40%;
                z-index: -10;
            }

            &:nth-child(5) {
                left: 10%;
                top: 70%;
            }
        }
    }
}



/*Third*/

.third {
    width: 100%;
    position: relative;
    margin: 180px 0;

    .background {
        .background-text {
            margin-top: 160px;

            .col {
                padding: 0;
                margin: 0;
                margin-left: -8px !important;
            }
        }
    }

    .container > .row {
        position: relative;
    }

    .content {
        position: relative;
        z-index: 10;
        font-weight: 700;
        font-size: 1.45rem;
        padding: 0;
        margin: 0;
    }

    .photos {
        position: relative;

        .photo {
            position: relative;
            top: 50px;
            left: 0px;
            width: 100%;
            z-index: 5;

            &:before {
                background: url(../img/drezno/drezno1.jpg) 0/contain no-repeat;
                top: 0;
                left: 0;
            }

            &:after {
                top: 15px;
                left: 15px;
                border: 5px solid var(--color-third);
            }
        }
    }

    .info-wrapper {
        position: relative;
        left: 0rem;
        top: -10px;
        width: 100%;
        margin: 0;
        z-index: 5;

        .info {
            //Ręczna modyfikacja na mobilne
            position: absolute;
            right: -202px;
            top: -60vh;
            background-color: var(--color-fourth);
            font-size: 1.45rem;
            font-weight: 600;

            ul {
                position: relative;

                li {
                    span {
                        position: relative;
                        z-index: 5;

                        &:after {
                            content: '';
                            height: 6px;
                            left: 10px;
                            bottom: 6px;
                            width: 96%;
                            position: absolute;
                            background-color: #eee;
                            z-index: -1
                        }
                    }

                    &:first-child {
                        position: absolute;
                        top: -47.5px;
                        left: -10px;
                        font-size: 2rem;

                        span {
                            &:after {
                                content: '';
                                height: 0;
                                position: absolute;
                                background-color: transparent !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .circles {
        .circle {
            &:nth-child(1) {
                right: -3%;
                top: -10%
            }

            &:nth-child(2) {
                left: calc(25% - 25px);
                top: 50%;
                z-index: 3;
            }

            &:nth-child(3) {
                left: -50px;
                top: -60%;
                z-index: 3;
            }

            &:nth-child(4) {
                left: 50%;
                top: 110%;
                z-index: -6;
            }

            &:nth-child(5) {
                left: 10%;
                top: 160%;
            }
        }
    }
}

//Fourth
.fourth {
    padding: 120px 0 120px 0;
    position: relative;

    .background {
        margin-top: 280px;

        .background-text {
            .col {
                padding: 0;
                margin: 0;
                margin-left: -8px !important;
            }
        }
    }

    .container > .row {
        position: relative;
    }

    .photo {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;

        &:before {
            background: url(../img/zajecia/zajecia2.jpg) 0/contain no-repeat;
            top: 0;
            left: 0;
        }

        &:after {
            top: -15px;
            left: -15px;
            border: 5px solid var(--color-third);
        }
    }

    .content {
        position: relative;
        z-index: 10;
        font-weight: 700;
        font-size: 1.45rem;
        padding: 0;
        margin: 0;
        top: -2rem;

        .group {
            position: relative;
            font-size: 1.6rem;
            top: 0.5rem;

            &:nth-child(4) {
                top: 1.5rem !important;
            }
        }

    }

    .circles {
        .circle {
            &:nth-child(1) {
                right: 15%;
                top: -10%
            }

            &:nth-child(2) {
                left: calc(25% - 25px);
                top: 60%;
                z-index: 3;
            }

            &:nth-child(3) {
                left: -15%;
                top: -65%;
                z-index: 3;
            }

        }
    }

}

//Fifth
.fifth {
    margin: 160px 0 120px 0;
    position: relative;

    .background {
        .background-text {
            margin-top: 250px;

            .col {
                padding: 0;
                margin: 0;
                margin-left: -13px !important;
            }
        }
    }

    .container > .row {
        position: relative;
    }

    .content {
        font-weight: 700;
        font-size: 1.45rem;
    }

    .photos {
        position: relative;
        height: 500px;
        z-index: 1;
        top: -1rem;

        div {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 5;
            transition: filter 0.5s ease-in-out, transform 1.5s ease-out;

            &:nth-child(1) {
                z-index: 1;
                width: 60%;
                top: -0.5rem;
                background: url(../img/zwickau/zwickau3.jpg) 0/contain no-repeat;
            }

            &:nth-child(2) {
                width: 30%;
                z-index: 2;
                left: 55%;
                top: -1.5rem;
                background: url(../img/zwickau/zwickau11.jpg) 0/contain no-repeat;
            }

            &:nth-child(3) {
                z-index: 3;
                width: 50%;
                left: 25%;
                top: 13.5rem;
                background: url(../img/zwickau/zwickau5.jpg) 0/contain no-repeat;
            }

            &:hover {
                filter: grayscale(0%);
            }
        }
    }

    .circles {
        .circle {
            &:nth-child(1) {
                right: 30%;
                top: -35%
            }

            &:nth-child(2) {
                left: calc(40% - 25px);
                top: 35%;
                z-index: 3;
            }

            &:nth-child(3) {
                left: 0;
                top: -35%;
                z-index: -3;
            }

        }
    }
}

@media only screen and (max-width: 500px) {

    //SECOND
    .second {
        margin: 100px 0 120px 0;

        .background {
            .background-text {
                margin-top: -190px;

                .col {
                    margin-left: 0px !important;
                }

            }
        }

        .content {
            position: relative;
            top: -80px;
        }

        .circles {
            .circle {
                &:nth-child(4) {
                    left: 70%;
                    top: 45%;
                    z-index: -10;
                }
            }
        }
    }

    //THIRD
    .third {
        margin: 80px 0 250px 0;

        .background {
            .background-text {
                margin-top: -55px;

                .col {
                    margin-left: 0px !important;
                }
            }
        }

        .photos {
            position: relative;
        }

        .info-wrapper {
            .info {
                right: -130px;
                top: -50px;
            }
        }

        .circles {
            .circle {

                &:nth-child(2) {
                    top: 20%;
                }

                &:nth-child(5) {
                    left: 10%;
                    top: 160%;
                }
            }
        }
    }

    //FOURTH
    .fourth {
        padding: 200px 0 0px 0;

        .background {
            margin-top: 360px;

            .background-text {
                .col {
                    margin-left: 0px !important;
                }
            }
        }

        .photo {
            top: -10px;
        }

        .content {
            position: relative;
            z-index: 10;
            font-weight: 700;
            font-size: 1.45rem;
            padding: 0;
            margin: 0;
            top: -1rem;
        }

        .circles {
            .circle {

                &:nth-child(2) {
                    left: calc(5% - 25px);
                }

                &:nth-child(3) {
                    left: -15%;
                    top: -65%;
                    z-index: 3;
                }

            }
        }

    }

    //Fifth
    .fifth {
        margin: 160px 0 0px 0;

        .background {
            .background-text {
                margin-top: -30px;

                .col {
                    margin-left: 0px !important;
                }
            }
        }

        .photos {
            position: relative;
            height: 400px;
            z-index: 1;
            top: 60px;

            div {
                top: 0;
                left: 0;
                transition: filter 0.5s ease-in-out, transform 1.5s ease-out;

                &:nth-child(1) {
                    z-index: 1;
                    width: 60%;
                    top: -2rem;
                    background: url(../img/zwickau/zwickau3.jpg) 0/contain no-repeat;
                }

                &:nth-child(2) {
                    width: 30%;
                    z-index: 2;
                    left: 55%;
                    top: 0;
                    background: url(../img/zwickau/zwickau11.jpg) 0/contain no-repeat;
                }

                &:nth-child(3) {
                    z-index: 3;
                    width: 50%;
                    left: 25%;
                    top: 6rem;
                    background: url(../img/zwickau/zwickau5.jpg) 0/contain no-repeat;
                }

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }

        .circles {
            .circle {
                &:nth-child(2) {
                    left: calc(90% - 25px);
                    top: 25%;
                }
            }
        }
    }
}
